# Cấu hình server
PORT=3000
JWT_SECRET=whsec_bqnb50T3QBNYb3AqMmGL2k9iKLgzGDVX

# Admin web
ADMIN_USERNAME=hungnbyt
ADMIN_PASSWORD=azhung12

# SePay - bắt buộc để webhook nạp tiền an toàn
SEPAY_SECRET=whsec_bqnb50T3QBNYb3AqMmGL4iX9KLgzGDVX
SEPAY_API_KEY=T0YRAAOUP47UQ8TT5ENDBV1UPVHLGMOMYZPEDWGUKBIH9BFA45ZVZBW7VJIHWECL

# API thuê sim CodeSim (nếu dùng)
SIM_API_KEY=

# Cloudinary upload ảnh (nếu dùng)
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
