PORT=3000
JWT_SECRET=doi_chuoi_bi_mat_rat_dai_o_day
ADMIN_USERNAME=hungnbyt
ADMIN_PASSWORD=azhung12

# API thuê sim CodeSim
SIM_API_KEY=
# Có thể đổi trực tiếp trong trang Admin - API thuê sim

# Cloudinary upload ảnh
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# hoặc dùng CLOUDINARY_URL=cloudinary://api_key:api_secret@cloud_name
